alabaster==0.7.12
astroid==2.9.3
astroML==0.4.1
astropy==4.2
attrs==21.2.0
Babel==2.9.1
beautifulsoup4==4.10.0
bigfile==0.1.51
bleach==4.1.0
bokeh==2.4.2
brotlipy==0.7.0
cachey==0.2.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
classylss==0.2.9
click==8.0.3
cloudpickle==2.0.0
cmarkgfm==0.8.0
colorama==0.4.4
Corrfunc==2.3.4
cosmic-shapes==1.0.0
coverage==6.3.1
cryptography==36.0.1
cycler==0.10.0
Cython==0.29.21
cytoolz==0.11.2
dask==2022.1.1
dill==0.3.4
distributed==2022.1.1
docutils==0.16
fastcache==1.1.0
fitsio==1.1.4
fsspec==2022.1.0
future==0.18.2
gmpy2==2.0.8
h5py==2.10.0
halotools==0.7
HeapDict==1.0.1
idna==3.3
imagecodecs-lite==2019.12.3
imageio==2.6.1
imagesize==1.3.0
importlib-metadata==4.11.3
iniconfig==1.1.1
jeepney==0.7.1
Jinja2==3.0.3
joblib==1.0.1
kdcount==0.3.29
keyring==23.4.0
kiwisolver==1.3.1
lazy-object-proxy==1.7.1
locket==0.2.0
MarkupSafe==2.0.1
matplotlib==3.4.2
mcfit==0.0.17
more-itertools==8.8.0
mpi4py==3.0.3
mpmath==1.1.0
mpsort==0.1.17
msgpack==1.0.3
multiprocess==0.70.12.2
nbodykit==0.3.15
networkx==2.6.3
numexpr==2.8.0
numpy==1.20.1
olefile==0.46
packaging==21.0
pandas==1.1.3
partd==1.2.0
pathos==0.2.8
pfft-python==0.1.21
Pillow==8.3.1
pip==21.2.3
pkginfo==1.8.2
pluggy==0.13.1
pmesh==0.1.56
posix-ipc==1.0.5
pox==0.3.0
ppft==1.6.6.4
psutil==5.9.0
py==1.10.0
pycparser==2.21
pyerfa==1.7.2
pyevtk==1.4.1
Pygments==2.11.2
pynbody==1.1.0
pynverse==0.1.4.4
pyOpenSSL==22.0.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
PySocks==1.7.1
pytest==0.0.0
python-dateutil==2.8.2
pytz==2020.1
PyWavelets==1.2.0
PyYAML==6.0
rdp==0.8
readme-renderer==27.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
runtests==0.0.28
scikit-image==0.19.1
scikit-learn==0.24.2
scipy==1.5.2
SecretStorage==3.3.1
setuptools==49.6.0.post20210108
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
Sphinx==4.4.0
sphinx-autoapi==1.8.4
Sphinx-PyPI-upload==0.2.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-dotnetdomain==0.4
sphinxcontrib-golangdomain==0.2.0.dev0
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sympy==1.6.2
tblib==1.7.0
threadpoolctl==2.2.0
tifffile==2019.7.26.2
toml==0.10.2
tomli==2.0.0
toolz==0.11.2
tornado==6.1
tqdm==4.63.0
twine==0.0.0
typing_extensions==4.0.1
Unidecode==1.3.2
urllib3==1.26.8
webencodings==0.5.1
wheel==0.36.2
wrapt==1.13.3
wurlitzer==3.0.2
zict==2.0.0
zipp==3.7.0
